@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
    background-color: #f8f8f8;
    position: relative;
    min-height: 100%;
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.menu {
    display: block;
    position: relative;
    cursor: pointer;
}

.menu-title {
    display: block;
    width: 192;
    height: 40px;
    padding: 12px 0 0;
    background: #9dc852;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
    background: #8db842;
}

.menu-title:hover:before {
    border-top-color: #8db842;
}

.menu:hover > .menu-title:before {
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_0 {
    background: #748c57;
}

.menu-title_0:hover {
    background: #809b5e;
}

.menu-title_0:before {
    border-top-color: #748c57;
}

.menu-title_0:hover:before {
    border-top-color: #809b5e;
}

.menu-title_1st {
    background: #8ca868;
}

.menu-title_1st:hover {
    background: #96b570;
}

.menu-title_1st:before {
    border-top-color: #8ca868;
}

.menu-title_1st:hover:before {
    border-top-color: #96b570;
}



.menu-title_2nd {
    background: #748c57;
}

.menu-title_2nd:hover {
    background: #809b5e;
}

.menu-title_2nd:before {
    border-top-color: #748c57;
}

.menu-title_2nd:hover:before {
    border-top-color: #809b5e;
}

.menu-title_3rd {
    background: #8ca868;
}

.menu-title_3rd:hover {
    background: #9fbf76;
}

.menu-title_3rd:before {
    border-top-color: #8ca868;
}

.menu-title_3rd:hover:before {
    border-top-color: #9fbf76;
}

.menu-title_4th {
    background: #748c57;
}

.menu-title_4th:hover {
    background: #809b5e;
}

.menu-title_4th:before {
    border-top-color: #748c57;
}

.menu-title_4th:hover:before {
    border-top-color: #809b5e;
}

.menu-dropdown {
    width: 192px;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
}

.menu-dropdown li:hover {
    background: #ada8a8;
    color: #ffffff;
    transition: 0.2s background;
}

.menu-dropdown.alone {
    padding: 4px 0;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
}

.menu-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}

.hList > * {
    float: left;
}

.hList > * + * {
    margin-left: 0;
}

.content {
    width: 960px;
    float: right;
    margin-top: -20px;
}

div.header {
    height: 85px;
    background-color: #3c6011;
    /**background-image: url("../img/header.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    clear: left;
}

img.lng {
    cursor: pointer;
}

img.logo {
    max-width: 192px;
    height: auto;
    padding-top: 15px;
    padding-left: 30px;
}

div.footer {
    clear: both;
    padding-top: 30px;
    text-align: center;
}

div.footer p {
    padding-top: 10px;
}

div#map {
    background-image: url("../img/address.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin-top: 80px;
}

div.email {
    padding-bottom: 20px;
}

div.language {
    float: right;
}

div.language img {
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

hr {
    width: 50%;
    margin-bottom: 30px;
}

.item {
    float: left;
    padding: 20px 35px;
    margin: 15px;
    width: 275px;
    border-style: dotted;
    border-width: medium;
    border-color: #ec8c0b;
	border-width: 2px;
    align-content: center;
}

.items-row, div.products{
    clear: both;
}

.text{
  margin-bottom: 20px;
}

div.week-discount {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;

}

div.category-direction-msg {
    padding-top: 180px;
    padding-left: 35px;
    font-size: 18px;
    font-weight: bold;
}

div.category-direction-msg:first-child {
    padding-top: 20px;
    padding-left: 15px;
}


div.category-description {
    padding-top: 60px;
}

div.products {
    clear: both;
    padding-bottom: 80px;
}

div.items-row {
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}

div.item img {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto;
}

div.item p {
    padding-bottom: 10px;
    height: 45px;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.main-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding-bottom: 35px;
}

div.discount {
    position: relative;
    top: -50px;
    left: 170px;
    width: 0px;
    height: 0px;
}

div.discount img {
    height: 50px;
    width: auto;
}

.subitem {
    padding-left: 18px;
    display: none;
    width: 192px;
    transition: opacity 600ms, visibility 600ms, 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 2.2s border-bottom ease-in, 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;

}

li #accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    line-height: 20px;
    color: #777;
    float: right;
    margin-left: 5px;
}

li#accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

div.nav {
    padding-bottom: 80px;
}

div.name, div.moto {
    font-weight: bold;
    color: #ec8c0b;
}

div.name {
    font-size: 36px;
}

div.header-text {
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
    padding-left: 20px;
    height: 80px;
    width: 250px;
    cursor: pointer;
}

div.about {
    margin: 80px auto;
    width: 860px;
    text-align: center;
    line-height: 24px;
}

p.submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    height: 40px;
    width: 170px;
    color: white;
    border: none;
    background-color: #3e86a3;
    border-radius: 4px;
}

.full {
    height: 100%;
}

div.info {
    padding-top: 100px;
}

div.text {
    padding-top: 20px;
}

div.text, div.info {
    padding-left: 40px;
    padding-right: 40px;
    width: 800px;
    line-height: 24px;
}

a {
    display: block;
}

img.about-us-images {
    float: left;
    height: 150px;
    width: 200px;
    margin-left: 65px;
}

.menu-title, .link, li#accordion {
    cursor: pointer;
}

div.discount-header{
    float: left;
}

div.discount-header{   
     background-image: url("../img/shopping_brd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
    height: 200px;
    width: 275px;
    
    font-size: 15px;
    color: orange;
    margin: 15px;
     box-shadow: 0 0 10px rgba(0,0,0,0.7); /* Параметры тени */
}
div.discount-header:first-child{
     background-image: url("../img/discount_brd.jpg");
}

div.discount-header:last-child{
     background-image: url("../img/order_brd.jpg");
}

div.colored-band{
    background-color: rgba(60, 96, 17, 0.6);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
}

div.msg-bottom{
        padding-top: 210px;

}

div.job{   
       padding-left: 50px;
    margin-top: 20px;
    
    width: 100%;
    height: 40%;
}